.wrapper {
  color: #212121; }
  .wrapper a {
    color: #212121; }

main {
  background-color: #fff; }

.line {
  background-color: #4f4f4f; }

.header--fixed {
  background-color: #fff; }

.header__extra .link__item {
  background-color: transparent; }
  .header__extra .link__item:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.header .setting__background {
  background-color: #fff; }

.header .setting__container::before {
  background-color: #C9C9C9; }

.header .setting--set_mod::before {
  background-color: #C9C9C9; }

#setting .setting--icons {
  background-color: #474747; }

.menu__link:hover {
  border-bottom: solid 1px #212121; }

.service__item--circle {
  border: solid 3px #F4F4F4; }

.service__item--rectangle {
  background-color: #F4F4F4; }

.works__link--icon {
  background-color: #4f4f4f; }

.works__item {
  background-color: #F4F4F4; }
  .works__item:hover {
    background-color: #ddd; }

.person {
  background-color: #fff;
  border: solid 1px #212121; }
  .person__position__item::before {
    color: #4f4f4f; }
  .person__top__tile {
    color: #fff; }

.service__window {
  background-color: #fff; }

.footer {
  background-color: #fff;
  border-top: solid 1px #C4C4C4; }

.aboutus__extra__icon circle {
  fill: #fff; }

.aboutus__extra__icon > path {
  fill: #848484; }

@media screen and (max-width: 1330px) {
  .menu__link:hover {
    border-top: solid 3px #4f4f4f;
    border-bottom: solid 3px #4f4f4f; }
  .bgc {
    background-color: #f8f8f8; } }

.drawing--line {
  background-color: #4f4f4f; }
